.button {
	display: flex;
	align-items: center;

	border: none;
	border-radius: 20px;

	font-weight: 500;
	color: white;
	font-family: inherit;

	background-color: #7f67be;
	box-shadow: 0 3px 10px -5px black;
	
	transition: all 0.2s ease;
}

.button:hover {
	cursor: pointer;
	background-color: #D0BCFF;
	color: black;
}
