html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-color: #FFFBFE;
	background-color: #eee; */
	background-color: #F4EFF4;
	min-height: 100%;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

.material-icons.md-small {
	font-size: 20px;
}